@import "normalize.css";

:root {
  --dark-blue: #101828;
  --dark-gray: #475467;
  --gray: #6c717b;
  --red-light: #e44848;
  --red: #d84343;
  --yellow: #ffc531;
  --light-gray: #dadde1;
  --background-light: #f2f4f7;
  --background-lighter: #f7f7f7;
  --white: #ffffff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4 {
  margin: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  cursor: pointer;
  font-family: inherit;
}
